html, body {
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Arial Black", serif;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color:beige;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#viz {
    height: 100%;
}

/*----------------------HEADER styles---------------------------------------------------*/

#header {
    display: flex;
    background-color: beige;
    height: 3.25rem;
    /*min-height: 3.25rem;*/
    justify-content: space-between;
}

.title {
    display: inline-flex;
}

.title h1 {
    margin: 0 0 0 2rem;
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    padding-right: 0.5rem;
    justify-content: end;
    align-items: center;
}

.links a {
    margin-left: 0.5rem;
    padding: .5rem 1rem .5rem 1rem;
    max-height: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: goldenrod;
    border-radius: 8px;
}

.links a:hover {
    opacity: 0.8;
}

/*-------------------------------------MINIMAP styles--------------------------------------------*/
.minimap {
    height: 2.2rem;
    min-height: 2.2rem;
    background-image: url("img/background.png");
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.minimapDraw {
    height: 100%;
    width: 100%;
    touch-action: none;
    cursor: inherit;
}

.minimapDraw .selection{
    fill: blue;
    stroke: none;
    fill-opacity: 0.2;
    rx: 5px;
}

.minimapDraw .handle {
    fill: dimgray;
    rx: 5px;
    height: 25px;
    y: 5px;
}

.minimapDraw text {
    cursor: pointer;
    fill: black;
}

#minimap_Bound {
    rx: 5px;
    stroke: black;
    fill: white;
}

#minimap_focus {
    rx: 5px;
    stroke: black;
    fill: blue;
    opacity: 0.3;
}

/*----------------------------------------CANVAS styles---------------------------------------------*/
.canvas {
    width: 100%;
    height: 86%;
    /*background-color: lightsteelblue;*/
    overflow: hidden;
    /*overflow: hidden scroll;*/
    background-image: url("img/background-II.png");
}

.canvasDraw {
    width: 100%;
    height: 100%;
    touch-action: none;
    cursor: inherit;
}

#zoom {
    cursor: move;
    opacity: 0;
    fill: none;
    pointer-events: all;
}

#emblems image {
    cursor: pointer;
}

#emblems text {
    pointer-events: none;
}

#emblems .hideable {
    visibility: hidden;
}

#emblems g:hover .hideable {
    visibility: visible;
}

.background {
    opacity: 0;
}

#selected {
    /*none skryje inherit ukaze*/
    display: none;
}

#lampshade {
    fill: lightgray;
}

#paths path {
    stroke-width: 10;
    fill: none;
    vector-effect:non-scaling-stroke;
}

#paths .sec_path {
    opacity: 0.35;
}

#timeline_els image:hover {
    opacity: 0.9;
}
/*-------------------------------------------FOOTER styles-------------------------------------------*/

#footer {
    display: flex;
    justify-content: center;
    background-color: beige;
    /*min-height: 3%;*/
    /*padding-top: 1%;*/
    width: 100%;
    height: 0.25rem;
    bottom: 0;
    border-top: 1px solid black;
}

#footer a {
    margin-left: 0.4rem;
}

/*-------------------------------------------MODAL menu---------------------------------------------------*/

#modal_menu {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal_menu .content {
    display: inherit;
    position: relative;
    background-color: lightgray;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 70rem;
    top: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#modal_menu #buttons {
    display: flex;
    justify-content: center;
}

#modal_menu #buttons .mod_item:hover {
    background-color: lightgoldenrodyellow;
}

#modal_menu #buttons .mod_item {
    margin-left: 1rem;
    font-size: 15px;
    font-family: "Arial Black";
    padding: 8px 10px;
    background-color: inherit;
    border: none;
}

#modal_menu #buttons .selected_tab {
    background-color: palegoldenrod;
}

#modal_menu .content .tabs {
    height: 30rem;
}

#modal_menu .close {
    position: relative;
    width: 3rem;
    font-size: 1.5rem;
    font-family: Verdana;
    border:none;
    margin-left:auto;
}

#modal_menu .tabs {
    display: flex;
}

#modal_add {
    width: 34%;
}

#modal_select {
    width: 33%;
}

#modal_edit {
    width: 33%;
}

#modal_add > * {
    position: relative;
    display: block;
    left: 15%;
    margin-top: 1rem;
    top: 1rem;
}

#modal_select > * {
    position: relative;
    display: block;
    left: 15%;
    margin-top: 1rem;
    top: 1rem;
}

#modal_edit > * {
    position: relative;
    display: block;
    left: 15%;
    margin-top: 1rem;
    top: 1rem;
}

#change_order {
    top: 15%;
}

.tabs #modal_add p {
    margin: 0.5rem 0 0 0;
    left: 0%;
}

.form_select {
    padding: .375rem .325rem .375rem .75rem;
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
}

#modal_add .dropdown {
    max-width: 15rem;
}

#modal_add .dropdown .form_control {
    margin: 0rem 0rem 0rem 0rem;
    padding: 0.15rem 0.1rem 0.15rem 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #ffffff;
    width: 14.5rem;
    height: 2rem;
}

#add_confirm {
    left: 30%;
    top: 5rem;
    width: 7.5rem;
    height: 3rem;
    visibility: hidden; /*skryva tlacitko, kdyz neni treba*/
}

#del_confirm {
    left: 30%;
    top: 5rem;
    width: 7.5rem;
    height: 3rem;
    visibility: hidden; /*skryva tlacitko, kdyz neni treba*/
}

#edit_confirm {
    left: 30%;
    top: 3rem;
    width: 7.5rem;
    height: 3rem;
    visibility: inherit; /*skryva tlacitko, kdyz neni treba*/
}

#change_order button {
    left: 15%;
    margin-top: 1rem;
    width: 7.5rem;
    height: 3rem;
    visibility: inherit; /*skryva tlacitko, kdyz neni treba*/
    position: relative;
    display: block;
}

#add_example {
    left: 30%;
    top: 5rem;
    width: 7.5rem;
    height: 3rem;
    visibility: hidden;
}

#modal_select p {
    margin: 0.5rem 0 0 0;
}

#modal_select img {
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
    left: 27.5%;
}

#modal_edit p {
    margin: 0.5rem 0 0 0;
}

.control {
    width: 10rem;
}

#content {
    width: 12rem;
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    padding: 0rem 1rem 1rem 1rem;
    max-height: 15rem;
    overflow-y: scroll;
    position: absolute;
    z-index: 2;
    margin: 0;
    font-family: Verdana;
}
#content li {
    list-style-type: none;
    padding: 0.15rem 0rem 0.15rem 0.5rem;
}

#content li:hover, .searchSel{
    background-color: cornflowerblue;
    border-radius: 0.5rem;
}

/*-----------------------------------------------HELP---------------------------------------------------*/
#help {
    background-color: white;
}

#help h2 {
    margin-left: 3rem;
}

#help_start p {
    margin-left: 4rem;
    font-family: Bahnschrift;
    max-width: 50%;
}

#help_start {
    display: flex;
}

#help_start ul{
    font-family: Bahnschrift;
}

#help p {
    margin-left: 4rem;
    font-family: Bahnschrift;
}

#help img {
    position: relative;
    left: 10%;
}

/*-------------------------------------------ABOUT-------------------------------------------------------*/

#about {
    background-color: white;
}

#about p {
    margin-left: 4rem;
    font-family: Bahnschrift;
    max-width: 30rem;
}

#about ul li {
    margin-left: 4rem;
    font-family: Bahnschrift;
    max-width: 30rem;
}

/*------------------------------------------MISCELLANEOUS------------------------------------------------*/

#selected {
    opacity: 30%;
    cursor: revert;
}

#timestamps {
    min-width: 50rem;
}

#timestamps path {
    stroke-width: 0;
}

#timestamps line {
    stroke-width: 0.1rem;
}

#timestamps text {
    font-size: 1.5rem;
    transform: rotate(-45deg);
    text-anchor: end;
}

.more_info {
    font-size: 0.7rem;
    color: gray;
}

/*-------------------------------------------------TIPPY STYLES----------------------------------------------*/

.tippy-box[data-theme~="tooltip"]{
    background-color: antiquewhite;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    min-width: 35rem;
    display:flex;
    font-family: Verdana;
}

.tippy-box[data-theme~="tooltip"] .left {
    border-right-style: solid;
    border-right-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 15rem;
    float: left;
}
.tippy-box[data-theme~="tooltip"] .left h2 {
    font-size: 1rem;
}
.tippy-box[data-theme~="tooltip"] .right h2 {
    font-size: 1rem;
    margin-left: 1.5rem;
}
.tippy-box[data-theme~="tooltip"] .left p {
    font-size: 1rem;
}

.tippy-box[data-theme~="tooltip"] .right {
    max-width: 15rem;
    font-size: 1rem;
    float: left;
}

.tippy-box[data-theme~="tooltip"] .left .desc_date {
    font-size: 0.7rem;
    color: gray;
}

.tippy-box[data-theme~='tooltip'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: black;
    margin-right: -0.1rem;
}
.tippy-box[data-theme~='tooltip'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: black;
    margin-left: -0.1rem;
}

/*------------------------------------------Groupped events----------------------------------------------*/

.group rect {
    height: 50px;
    rx: 5px;
    stroke: black;
    fill: antiquewhite;
}
.group image {
    width: 50px;
    height: 50px;
}

.group image:hover {
    opacity: 0.65;
}

/*-----------------------------------------ABOUT--------------------------------------------------------*/
#about {
    background-color: white;
}

#about p {
    margin-left: 4rem;
    font-family: Bahnschrift;
    max-width: 30rem;
}

#about ul li {
    margin-left: 4rem;
    font-family: Bahnschrift;
    max-width: 30rem;
}
